<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
<head>

  <title>Contact</title>
  <bookmarks>
    <bookmark name="Contact" href="#contact"></bookmark>
  </bookmarks>
  <link rel="stylesheet" href="css/nicepage.css"/>
  <link rel="stylesheet" href="css/Contact.css"/>
  <script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="js/nicepage.js" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"/>


</head>
<body data-home-page="Contact.html" data-home-page-title="Contact" class="u-body"><header class="u-clearfix u-header u-header" id="sec-3405"><div class="u-align-left u-clearfix u-sheet u-sheet-1"></div></header>
<section class="u-clearfix u-section-1" id="sec-9a74">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h1 class="u-align-center u-text u-text-default u-text-1">Attestation de livraison n°XXXXXX</h1>
    <h3 class="u-align-center u-text u-text-default u-text-2">Date : ziuzehuez</h3>
    <h3 class="u-align-center u-text u-text-default u-text-3">Identifiant : hhdjkkd</h3>
    <h3 class="u-align-center u-text u-text-default u-text-4">Nom et Prenoms : hhdjkkd</h3>
    <h3 class="u-align-center u-text u-text-default u-text-5">Contact : hhdjkkd</h3>
    <h3 class="u-align-center u-text u-text-default u-text-6">Sac réçu : hhdjkkd</h3>
    <h3 class="u-align-center u-text u-text-default u-text-7">Sac remboursé : hhdjkkd</h3>
    <h3 class="u-align-center u-text u-text-default u-text-8">Solde de sac : hhdjkkd</h3>
    <h3 class="u-align-center u-text u-text-default u-text-9">Poids net : hhdjkkd</h3>
    <h3 class="u-align-center u-text u-text-default u-text-10">Livreur : hhdjkkd</h3>
    <h5 class="u-align-center u-text u-text-default u-text-11">Magasinier</h5>
    <h5 class="u-align-center u-text u-text-default u-text-12">Acheteur<span style="font-weight: 700;"></span>
    </h5>
  </div>
</section>

</body>
</html>